comment {
    display: none;
}

.site_header {

    width: 100%;
    height: 60px;

    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.9 );

}

.header_content {

    width: 59.5%;
    height: 56px;
    margin: auto;

}

.user_settings {

    width: 20%;
    height: 100%;
    border: 2px solid red;
    float: right;

}

.user_settings img{

    float: right;
    margin: 5px;

}

.user_settings menu{

    display: none;

    width: auto;

    position: relative;
    z-index: inherit;
    background: #b3b3b3;

    top: 30px;

}

